.header {
    width: 100vw;
    height: 80px;
    background-color: #818188;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    box-sizing: border-box;
}