@import '../../../app/variables.scss';

.popup {
  position: absolute;
  box-sizing: border-box;
  top: unset;
  width: 380px;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: none;
  padding: 30px;
  transform: translateX(-80px) translateY(calc(-100% - 50px));
  z-index: 100;
  box-shadow:
    0 16px 32px rgba(82, 46, 0, 0.05),
    0 -8px 32px rgba(82, 46, 0, 0.05);

  &__title {
    font-family: $nunito;
    font-size: $font-size-lg;
    font-weight: 800;
    margin-bottom: 16px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    color: #666666;
    font-family: $open-sans;
    font-size: $font-size-lg;
    gap: 8px;
  }
  &__close {
    width: 24px;
    height: 24px;
    background: url(../../../icons/close-icon.svg) 50% no-repeat;
    opacity: 1;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  &__contentContainer {
    display: flex;
    gap: 8px;
  }
  &__contentTitle {
    font-weight: 700;
  }
  &__contentText {
    font-weight: 400;
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 128px;
    height: 64px;
    background-color: #fff;
    bottom: -25px;
    left: 85px;
    transform: rotate(-24deg);
    z-index: -1;
  }
}

.point {
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .popup {
    width: 360px;
    padding: 44px 24px 32px;
    border-radius: 20px;

    &__content {
      font-size: 16px;
    }
    &::after{
      display: none;
    }
  }
}

@media screen and (max-width: 360px) {
  .popup {
    width: 248px;

    &__content {
      font-size: $font-size-md;
    }
  }
}
