// Breakpoints
$desktop: 1720px;
$laptop: 1248px;
$tablet: 944px;
$mobile: 640px;

// Colors
$gradient: linear-gradient(92.64deg, #fcbf49 0%, #ff9000 100%);
$gradient-minor: linear-gradient(161.83deg, #ffbe41 0%, #ff7d34 100%);
$black: #171615;
$white: #ffffff;
$orange: #ff7d34;
$yellow: #ffbe41;
$grey: #666;
$light-grey: #eee;

// font-size
$font-size-xl: 24px;
$font-size-lg: 18px;
$font-size-md: 14px;
$font-size-sm: 12px;
$font-size-xs: 10px;

// font-family
$open-sans: 'OpenSans', 'Verdana', 'Geneva', 'sans-serif';
$nunito: 'Nunito', 'Verdana', 'Geneva', 'sans-serif';
